<%= form_for(@restaurant) do |f| %>
  <% if @restaurant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@restaurant.errors.count, "error") %> prohibited this restaurant from being saved:</h2>

      <ul>
      <% @restaurant.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :franchise_id %><br />
    <%= f.number_field :franchise_id %>
  </div>

  <fieldset id="selections"> 
      <h3>Selections: (drag and drop to organize)</h3>   
      <span>   
        <%= f.fields_for :selections do |s| %>
          <% new_field = s.object.new_record? %>
          <div class="field<%= new_field ? ' new_selection': '' %>" data-index="<%= @restaurant.selections.length-1 %>">
            <%= s.hidden_field :priority %> 
            <%= s.select :bottle_id, options_from_collection_for_select(Bottle.order('name ASC'), :id, :full_name, s.object.bottle_id), :prompt => "make a selection" %>    
            <%= !new_field ? s.label(:_destroy,"remove") : '' %>
            <%= !new_field ? s.check_box(:_destroy) : '' %> 
          </div>         
        <% end %>      
    </span>
    <span id="add_selection" class="replicate button">[+] Add a Bottle</span>
  </fieldset>


  
  
  
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
